.totalsalescontainer
  {
    margin:30px;
    padding: 0 40px 10px 40px;
    border:2px solid rgb(147, 142, 142); 
    box-shadow: 1px 1px rgb(111, 108, 108);
    height: 150px;
    text-align: center;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
  }