
.navigationcontainer
{
    display: flex;
    justify-content: flex-end;
}
.navigationtext 
{
   border:1px solid #000044;
   background-color: #000044;
   color:white;
   padding:10px 20px 10px 20px; 
   margin:0px 5px 0px 5px;
   border-radius: 0.5rem;
}

.navigationtext > a 
{
    text-decoration: none;
    color:inherit;
}


.margin 
{
    margin-top:60px;
    border:3px solid whitesmoke;
    box-shadow: 0px 5px  rgba(230, 226, 226, 0.1); 
    border-radius: 1rem;
    padding: 10px 20px 10px 5px;
}

.title
{
    font-weight: 370;
    font-size:large ;
}

.head
{
    margin-top:10px; 
    margin-bottom:10px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    font-size:1.7rem;
}

.borderwhitesmoke
{
    border:3px solid whitesmoke;
    height: 100%;
    border-radius: 1rem;
}

.select{
    width: 50px;
}

#timeselect
{
    border-radius: 1rem;
    padding: 5px;
}