.navbar{
    height: 30px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu
{
    width:200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed; 
    top: 0; 
    left:0;
}

.nav-text
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    font-size: 14px; 
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    color:black;

}

.nav-text a:hover{
    background-color: rgb(8, 108, 133);
    color: whitesmoke;
}

.nav-menu-items 
{
    width: 100%;
}
.span{
    margin-left: 10px;
}

.image
{
    height: 70px;
    margin-top: 30px;
    margin-left:25px;
}


.bootstrap-btn
{
    color:black;
}

.bootstrap-btn:hover
{
    background-color: rgb(8, 108, 133);
    color: whitesmoke;
}

.icon
{
    font-size: small;
}