#email
{
  display: block;
}

.email
{
  margin:20px;
  margin-top:50px;
}

.password
{
  margin:20px;
}

.email,.password
{
  border:1px solid rgb(208, 206, 206);
  border-radius: 0.6rem;
  padding: 9px;
}


form
{
  background-color: aliceblue;
  height: 350px;
  width: 50vw;
  border-radius: 2rem;
}

.formcontainer
{
  margin:auto;
  height: 200px;
  width: 40vw;
}