.reportcontainer
{
    border: 2px solid rgb(111, 110, 110);
    border-radius: 1%;
    width:500px;
    height:400px;
    margin-left: 0px;
    margin-top: 30px;
    box-shadow: 1px 1px rgb(29, 29, 29) ;
}

.bold
{
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    padding-top: 10px;
}

.chart 
{
    width: 360px;
    margin:auto;
}

.flexbox
{
    display: flex;
}