.navigationtext
{
    padding:20px; 
    margin-left:10px; 
    margin-right:10px; 
    background-color: rgb(48, 48, 48);
    border:1px solid rgb(48, 48, 48); 
    border-radius: 1rem;
}

.navigationtext > a 
{
    text-decoration: none;
    color:white
}